<a href="https://colab.research.google.com/github/KedarSJadhav/MSC_Sem-1_FDS/blob/main/Chapter_2_Types_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Relative length of text**

In [ ]:
len("This Wednesday morn, are you early to rise? Then look East. The Crescent Moon joins Venus & Saturn. Afloat in the dawn skies.")

125

In [ ]:
import pandas as pd

**Example â€“ world alcohol consumption data**

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv')

In [ ]:
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

In [ ]:
drinks['continent'].describe()

count     170
unique      5
top        AF
freq       53
Name: continent, dtype: object

In [ ]:
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

**Measures of center**

In [ ]:
import numpy

In [ ]:
results = [5, 4, 3, 4, 5, 3, 2, 5, 3, 2, 1, 4, 5, 3, 4, 4, 5, 4, 2, 1, 4, 5, 4, 3, 2, 4, 4, 5, 4, 3, 2, 1]

In [ ]:
sorted_results = sorted(results)

In [ ]:
print(sorted_results)

[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
print(numpy.mean(results))

3.4375

In [ ]:
print(numpy.median(results))

4.0

In [ ]:
temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]

In [ ]:
print(numpy.mean(temps))

30.733333333333334

In [ ]:
print(numpy.median(temps))

31.0

**Measures of variation**

In [ ]:
mean = numpy.mean(temps)

In [ ]:
squared_differences = []

In [ ]:
for temperature in temps:
 difference = temperature - mean

In [ ]:
squared_difference = difference**2

In [ ]:
squared_differences.append(squared_difference)

In [ ]:
average_squared_difference = numpy.mean(squared_differences)

In [ ]:
standard_deviation = numpy.sqrt(average_squared_difference)

In [ ]:
print(standard_deviation)

4.733333333333334

**Measures of center**

In [ ]:
num_items = len(temps)

In [ ]:
product = 1.

In [ ]:
for temperature in temps:
 product *= temperature

In [ ]:
geometric_mean = product**(1./num_items)

In [ ]:
print(geometric_mean)

30.63473484374659